{% extends "encyclopedia/layout.html" %}

{%block title%}
Create New Entry
{%endblock%}

{%block body%}
<form type="text" method="post" action=""> {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Entry Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="title">
    </input>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Enter Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content">
        </textarea>
      </div>
    <input type="submit" value="Submit Entry">
    </input>
</form>
{%endblock%}